<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> {{tableData.title}}</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <!-- <th *ngFor="let header of tableData.headers">{{header}}</th> -->
            <th>{{tableData.headers[0]}}</th>
            <th>{{tableData.headers[1]}}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <!-- <th *ngFor="let header of tableData.headers">{{header}}</th> -->
            <th>{{tableData.headers[0]}}</th>
            <th>{{tableData.headers[1]}}</th>
          </tr>
        </tfoot>
        <tbody>
          <!-- <tr *ngFor="let job of tableData.data">
            <td>{{job.buildName}}</td>
            <td>{{job.creationDate}}</td>
          </tr> -->
          <tr>
            <td>Test</td>
            <td>test2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>